@{
  Layout = "_Layout";
}

@using Factory.Models

<h1>Dr. Sillystringz's Factory</h1>

<h2>Welcome, Doctor!</h2>

<p>I understand you're in need of an application to keep track of your machine repairs. Look no further! Here you can manage the engineers that you employ, and the machines they are licensed to fix.</p>